{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Automation Tools Editor</title>
    <link rel="icon" href="{% static 'editor_ui/favicon.ico' %}">

    <!--CSS -->
    <link rel="stylesheet" href="{% static 'editor_ui/grapesjs/dist/css/grapes.min.css' %}">
    <link rel="stylesheet" href="{% static 'editor_ui/grapesjs/dist/grapesjs-preset-webpage.min.css' %}">

    <!-- Script -->
    <script src="{% static 'editor_ui/grapesjs/dist/grapes.min.js' %}"></script>
    <script src="{% static 'editor_ui/grapesjs/dist/grapesjs-preset-webpage.min.js' %}"></script>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>
    {% block content %}{% endblock %}

    <script src="{% static 'editor_ui/grapesjs/dist/blockManager.js' %}"></script>
</body>

</html>